UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: WithoutElse
AttributeMacros:
  - Q_OBJECT